{% extends 'base.html' %}
{% block title %}{{ block.super }} | {{ product.name }}{% endblock title %}
{% block content %}
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="..." />
      </div>
      <div class="col-md-6">
        <div class="small mb-1">{{ product.category }}</div>
        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
        <div class="fs-5 mb-5">
        {% if product.is_sale %}
          <span class="text-decoration-line-through">${{ product.sale_price }}</span>
        {% endif %}
          <span>${{ product.price }}</span>
        </div>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Product description</button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Description</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            {% for paragraph in product.description.splitlines %}
            <p>
              {{ paragraph }}
            </p>  
            {% endfor %}
          </div>
        </div>
        <br/><br/>
        <br/><br/>
        <div class="d-flex">
          <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
          <button class="btn btn-outline-dark flex-shrink-0" type="button" value="{{ product.id }}" id="add-cart">
            <i class="bi-cart-fill me-1"></i>
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).on("click", "#add-cart", function(e){
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'cart:cart_add' %}",
      data: {
        product_id: $("#add-cart").val(),
        product_qty: $("#inputQuantity").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post"
      },
      success: function(json){
        document.getElementById("cart_quantity").innerText = json.qty;
      },
      error: function(xhr, errmsg, err){
        
      }
    });
  })
</script>
{% endblock content %}
  

