<div class="col-lg-3 col-md-6 mb-4">
  <div class="card">
    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
      data-mdb-ripple-color="light">
      <img src="{{ product.image.url }}"
        class="w-100" />
      <a href="#!">
        <div class="mask">
        {% if product.is_new %}
          <div class="d-flex justify-content-start align-items-end h-100">
            <h5><span class="badge bg-dark ms-2">NEW</span></h5>
          </div>
        {% endif %}
        </div>
        <div class="hover-overlay">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </div>
      </a>
    </div>
    <div class="card-body">
      <a href="" class="text-reset">
        <h5 class="card-title mb-2">Denim shirt</h5>
      </a>
      <a href="" class="text-reset ">
        <p>Shirt</p>
      </a>
      <h6 class="mb-3 price">120$</h6>
    </div>
  </div>
</div>